/* ------------------------ General Use Start ---------------------- */
body
{
    background-image: url(/assets/images/bgtexture.jpg);
}

/* Fonts Start*/
@font-face {
    font-family: Montauk-Bold;
    src: url(/assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(/assets/fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(/assets/fonts/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: FugazOne-Regular;
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

/* Fonts End */

/* Text Start */
h1 {
    font-family: FugazOne-Regular;
    font-size: 50px;
    color: #5F002B;
}

h2 {
    font-family: FugazOne-Regular;
    font-size: 30px;
    color: #5F002B;
}

p {
    font-family: Montauk-Regular;
    font-size: 16px;
    color: #5F002B;
    padding: 0;
}

/* Text End */

/* NavBar Start*/
body
{
    background-image:url(../assets/images/bgtexture.jpg);
}

.title-bg
{
    background-color: white;
    
}

hr{
    color: #5F002B;
}

<<<<<<< HEAD
/* NavBar Start */
=======
.navbar-text
{
    font-family: FugazOne-Regular;
    color: #5F002B;
    font-size: 24px
}

>>>>>>> 697bbb8409b281acdfbc607bcce185018d86111f
.footer-text{
    font-family: Montauk-Light;
    font-size: 20px;
}

.footer-indexL
{
    padding-left: 6rem ;
}

.footer-indexR
{
    padding-right: 3.5rem ;
}

/* NavBar End */
/* ------------------------ General Use End ------------------------ */

/* ------------------------ Home Start ----------------------------- */
.ptSingles
{
    padding: 4rem;
}

.backgroundWhite
{
    background-color: white;
}

.homeImg
{
    object-fit:cover;
}


.homeImg
{
    object-fit:cover;
}

.contentPadding
{
    padding: 2rem 4rem 3rem 2rem;
}

@media screen and (max-width: 768px)
{
    .responseTContent
    {
        margin: 0rem 1rem;
        text-align: center; 
    }
    .responseTImage
    {
        padding: 1rem;
    }
} 

@media screen and (max-width: 426px)
{
    .responsePContent
    {
        padding: 0rem 1rem;
    }
    
    h1{
        font-size: 40px;
    }
    
    p
    {
        font-size:  20px;
    }
    .resposnePImage
    {
        display: none
    }
    .responsePBurger
    {
        width: 500px;
        padding: 2rem;
    }
}

/* ------------------------ Home(index) End -------------------------------- */


/* ------------------------ About Start ----------------------------- */
.ptSingles
{
    padding-bottom: 1.5rem;
}

.headerPadding{
    padding: 3rem;
    padding-right: rem;
}

.containerWidth
{
    width: 950px;
}

.card, .card-img-top 
 {
    border-radius: 0%;
  }

  @media screen and (max-width: 800px)
{
    .imageTablet
    {
        width: 100%;
        padding: 0rem 1rem 1rem;
    }
    .aboutResponseContent
    {
        text-align: center;
    }
}

@media (max-width: 450px)
{
    .cardPhone
    {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: 1000px;
    }
   
    .imagePhone
    {
        padding: 0rem 1rem 1rem;
    }

}


/* ------------------------ About End -------------------------------- */



/* ------------------------ Menu Start ----------------------------- */

.menu-card-text
{
    font-family: Montauk-Light;
    font-weight: lighter;
}

.menu-info-text
{
    font-family: Montauk-Light;
}



/* ------------------------ Menu End -------------------------------- */




/* ------------------------ Catering Start ----------------------------- */


.cateringBG {
    background-color: #FFFFFF;
    margin-top: 40px;
    padding-bottom: .5rem;
}

.cateringHP {
    background-color: #FFFFFF;
    padding-bottom: 20px;

}

.cateringServices {
    width: 100%;
}

.serviceText {
    line-height: 16px;
    font-size: 18px;
}

.slidersHeight {
    height: 284.4px;
}

.tomatoesHeight {
    height: 100%;
}

.serviceH {
    font-size: 30px;
}

.imageSpacing {
    margin-top: 100px;
}

/* Catering Responsiveness */

@media screen and (max-width: 1399px) {

    .slidersHeight {
        height: 244.875px;
    }

}

@media screen and (max-width: 1200px) {

    .cateringSpacing {
        margin-top: -35px;
    }

    .caterHeroSize {
        height: 300px;
    }

    .slidersHeight {
        height: 204.95px;
    }

    .tomatoesHeight {
        height: 80%;
    }

}

@media screen and (max-width: 992px) {

    .cateringSpacing {
        margin-top: -60px;
    }

    .tomatoesPadding {
        padding: 0px;
    }

    .serviceText {
        line-height: 15px;
        font-size: 15px;
    }

    .slidersHeight {
        height: 151.712px;
    }

    .tomatoesHeight {
        height: 70%;
    }

    .serviceH {
        font-size: 25px;
    }

    .imageSpacing {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {

    .caterHeroSize {
        height: 233.938px;
        margin-bottom: -25px;
    }

    .cateringSpacing {
        margin-top: 60px;
    }

    .slidersHeight {
        height: 111.787px;
    }

    .tomatoesHeight {
        height: 223px;
    }

}

@media screen and (max-width: 575px) {
    .caterContainer {
        width: auto;
        max-width: 450px;
    }

    .serviceText {
        line-height: 11px;
        font-size: 12px;
    }

    .slidersHeight {
        height: 91.83px;
    }

    .serviceH {
        font-size: 20px;
    }
}

@media screen and (max-width: 475px) {
    .caterContainer {
        width: auto;
        max-width: 350px;
    }

    .cateringSpacing {
        margin-top: 30px;
    }

    .caterHeroSize {
        height: 160px;
        margin-bottom: -35px;
    }

    .serviceText {
        line-height: 9px;
        font-size: 11px;
    }

    .slidersHeight {
        height: 69.64px;
    }

    .tomatoesHeight {
        height: 160px;
    }

    .serviceH {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .caterContainer {
        width: auto;
        max-width: 250px;
    }

    .caterHeroSize {
        height: 140px;
        margin-bottom: -35px;
    }

    .slidersHeight {
        height: 47.46px;
        width: 104.66px;
    }

    .tomatoesHeight {
        height: 140px;
    }

    .imageSpacing{
        margin-top: 10px;
    }
}
/* ------------------------ Catering End -------------------------------- */







/* --------------------------- Photos Start ----------------------------- */

.photosBG {
    background-color: #FFFFFF;
}

.photosContainer {
    width: 1300px;
}

.photosGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    min-height: 100vh;
}

.photo-items {

    border: 8px solid #FFFFFF;
}

/* Photos Responsiveness */

@media screen and (max-width: 991px) {
    .photosGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photosGrid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 575px) {

    .photosContainer {
        width: auto;
        max-width: 300px;
    }
    
}
@media screen and (max-width: 575px) {
    .photosGrid {
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
        row-gap: 20px;
    }

}

/* -------------------------- Photos End -------------------------------- */