/* ------------------------ General Use Start ---------------------- */
body {
    background-image: url(/assets/images/bgtexture.jpg);
}

/* Fonts Start*/
@font-face {
    font-family: Montauk-Bold;
    src: url(/assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(/assets/fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(/assets/fonts/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: FugazOne-Regular;
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

/* Fonts End */

/* Text Start */
h1 {
    font-family: FugazOne-Regular;
    font-size: 50px;
    color: #5F002B;
}

h2 {
    font-family: FugazOne-Regular;
    font-size: 30px;
    color: #5F002B;
}

p {
    font-family: Montauk-Regular;
    font-size: 20px;
    color: #5F002B;
}

/* Text End */

/* NavBar Start*/
a {
    font-family: FugazOne-Regular;
    font-size: 20px;
    color: #5F002B;
    text-decoration: none;
}

.narvBarPadding {
    padding: 1rem 0 .5rem 9rem;
}

/* NavBar End*/

.removePadding {
    padding: 0%;
    margin: 0%;
}

/* ------------------------ General Use End ------------------------ */


/* ------------------------ Home Start ----------------------------- */
.ptSingles {
    padding: 4rem;
}

.backgroundWhite {
    background-color: white;
}

.homeImg {
    object-fit: cover;
}

.test {
    flex-direction: row;
    justify-content: center;
}

/* ------------------------ Home End -------------------------------- */



/* ------------------------ About Start ----------------------------- */




/* ------------------------ About End -------------------------------- */



/* ------------------------ Menu Start ----------------------------- */




/* ------------------------ Menu End -------------------------------- */




/* ------------------------ Catering Start ----------------------------- */


.cateringBG {
    background-color: #FFFFFF;
    margin-top: 40px;
    padding-bottom: .5rem;
}

.cateringHP {
    background-color: #FFFFFF;
    padding-bottom: 20px;

}

.cateringServices {
    width: 100%;
}

.serviceText {
    line-height: 16px;
    font-size: 18px;
}

.slidersHeight {
    height: 284.4px;
}

.tomatoesHeight {
    height: 100%;
}

.serviceH {
    font-size: 30px;
}

.imageSpacing {
    margin-top: 100px;
}

/* Catering Responsiveness */

@media screen and (max-width: 1399px) {

    .slidersHeight {
        height: 244.875px;
    }

}

@media screen and (max-width: 1200px) {

    .tomatoesHeight {
        height: 80%;
    }

    .cateringSpacing {
        margin-top: -35px;
    }

    .serviceText {
        line-height: 20px;
        font-size: 28px;
    }

    .serviceH {
        font-size: 45px;
    }

    .caterHeroSize {
        height: 300px;
    }

    .slidersHeight {
        height: 204.95px;
    }

}

@media screen and (max-width: 992px) {

    .slidersHeight {
        height: 151.712px;
    }

    .cateringSpacing {
        margin-top: -60px;
    }

    .tomatoesPadding {
        padding: 0px;
    }

    .tomatoesHeight {
        height: 70%;
    }

    .serviceText {
        line-height: 15px;
        font-size: 16px;
    }

    .serviceH {
        font-size: 35px;
    }

    .imageSpacing {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {

    .tomatoesHeight {
        height: 223px;
    }

    .slidersHeight {
        height: 111.787px;
    }

    .caterHeroSize {
        height: 233.938px;
        margin-bottom: -25px;
    }

    .cateringSpacing {
        margin-top: 60px;
    }

}

@media screen and (max-width: 575px) {
    .caterContainer {
        width: auto;
        max-width: 450px;
    }

    .slidersHeight {
        height: 91.83px;
    }

    .serviceText {
        line-height: 20px;
        font-size: 20px;
    }

    .serviceH {
        font-size: 35px;
    }
}

@media screen and (max-width: 475px) {
    .caterContainer {
        width: auto;
        max-width: 350px;
    }

    .cateringSpacing {
        margin-top: 30px;
    }

    .slidersHeight {
        height: 69.64px;
    }

    .caterHeroSize {
        height: 160px;
        margin-bottom: -35px;
    }

    .tomatoesHeight {
        height: 160px;
    }

    .serviceText {
        line-height: 20px;
        font-size: 18px;
    }

    .serviceH {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .caterContainer {
        width: auto;
        max-width: 250px;
    }

    .slidersHeight {
        height: 47.46px;
    }

    .caterHeroSize {
        height: 140px;
        margin-bottom: -35px;
    }

    .tomatoesHeight {
        height: 140px;
    }

}
/* ------------------------ Catering End -------------------------------- */







/* --------------------------- Photos Start ----------------------------- */

.photosBG {
    background-color: #FFFFFF;
}

.photosContainer {
    width: 1300px;
}

.photosGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    min-height: 100vh;
}

.photo1 {
    grid-column: 1;
    grid-row: 1;
    border: 8px solid #FFFFFF;
}

.photo2 {
    grid-column: 2;
    grid-row: 1;
    border: 8px solid #FFFFFF;
}

.photo3 {
    grid-column: 3;
    grid-row: 1;
    border: 8px solid #FFFFFF;
}

.photo4 {
    grid-column: 4;
    grid-row: 1;
    border: 8px solid #FFFFFF;
}

.photo5 {
    grid-column: 1;
    grid-row: 2;
    border: 8px solid #FFFFFF;
}

.photo6 {
    grid-column: 2;
    grid-row: 2;
    border: 8px solid #FFFFFF;
}

.photo7 {
    grid-column: 3;
    grid-row: 2;
    border: 8px solid #FFFFFF;
}

.photo8 {
    grid-column: 4;
    grid-row: 2;
    border: 8px solid #FFFFFF;
}

.photo9 {
    grid-column: 1;
    grid-row: 3;
    border: 8px solid #FFFFFF;
}

.photo10 {
    grid-column: 2;
    grid-row: 3;
    border: 8px solid #FFFFFF;
}

.photo11 {
    grid-column: 3;
    grid-row: 3;
    border: 8px solid #FFFFFF;
}

.photo12 {
    grid-column: 4;
    grid-row: 3;
    border: 8px solid #FFFFFF;
}

/* Photos Responsiveness */

@media screen and (max-width: 991px) {


    .photosGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        min-height: 100vh;
    }

    .photo1 {
        grid-column: 1;
        grid-row: 1;
        border: 8px solid #FFFFFF;
    }

    .photo2 {
        grid-column: 2;
        grid-row: 1;
        border: 8px solid #FFFFFF;
    }

    .photo3 {
        grid-column: 3;
        grid-row: 1;
        border: 8px solid #FFFFFF;
    }

    .photo4 {
        grid-column: 1;
        grid-row: 2;
        border: 8px solid #FFFFFF;
    }

    .photo5 {
        grid-column: 2;
        grid-row: 2;
        border: 8px solid #FFFFFF;
    }

    .photo6 {
        grid-column: 3;
        grid-row: 2;
        border: 8px solid #FFFFFF;
    }

    .photo7 {
        grid-column: 1;
        grid-row: 3;
        border: 8px solid #FFFFFF;
    }

    .photo8 {
        grid-column: 2;
        grid-row: 3;
        border: 8px solid #FFFFFF;
    }

    .photo9 {
        grid-column: 3;
        grid-row: 3;
        border: 8px solid #FFFFFF;
    }

    .photo10 {
        grid-column: 1;
        grid-row: 4;
        border: 8px solid #FFFFFF;
    }

    .photo11 {
        grid-column: 2;
        grid-row: 4;
        border: 8px solid #FFFFFF;
    }

    .photo12 {
        grid-column: 3;
        grid-row: 4;
        border: 8px solid #FFFFFF;
    }
}

@media screen and (max-width: 768px) {



    .photosGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        min-height: 100vh;
    }

    .photo1 {
        grid-column: 1;
        grid-row: 1;
        border: 8px solid #FFFFFF;
    }

    .photo2 {
        grid-column: 2;
        grid-row: 1;
        border: 8px solid #FFFFFF;
    }

    .photo3 {
        grid-column: 1;
        grid-row: 2;
        border: 8px solid #FFFFFF;
    }

    .photo4 {
        grid-column: 2;
        grid-row: 2;
        border: 8px solid #FFFFFF;
    }

    .photo5 {
        grid-column: 1;
        grid-row: 3;
        border: 8px solid #FFFFFF;
    }

    .photo6 {
        grid-column: 2;
        grid-row: 3;
        border: 8px solid #FFFFFF;
    }

    .photo7 {
        grid-column: 1;
        grid-row: 4;
        border: 8px solid #FFFFFF;
    }

    .photo8 {
        grid-column: 2;
        grid-row: 4;
        border: 8px solid #FFFFFF;
    }

    .photo9 {
        grid-column: 1;
        grid-row: 5;
        border: 8px solid #FFFFFF;
    }

    .photo10 {
        grid-column: 2;
        grid-row: 5;
        border: 8px solid #FFFFFF;
    }

    .photo11 {
        grid-column: 1;
        grid-row: 6;
        border: 8px solid #FFFFFF;
    }

    .photo12 {
        grid-column: 2;
        grid-row: 6;
        border: 8px solid #FFFFFF;
    }

}

@media screen and (max-width: 575px) {

    .photosContainer {
        width: auto;
        max-width: 300px;
    }



    .photosGrid {
        display: grid;
        grid-template-columns: 0px;
        grid-template-rows: repeat(12, 1fr);
        gap: 0px;
        row-gap: 20px;
        min-height: 100vh;
    }

    .photo1 {
        grid-column: 2;
        grid-row: 1;
        border: 5px solid #FFFFFF;
    }

    .photo2 {
        grid-row: 2;
        border: 5px solid #FFFFFF;
    }

    .photo3 {
        grid-column: 2;
        grid-row: 3;
        border: 5px solid #FFFFFF;
    }

    .photo4 {
        grid-column: 2;
        grid-row: 4;
        border: 5px solid #FFFFFF;
    }

    .photo5 {
        grid-row: 5;
        grid-column: 2;
        border: 5px solid #FFFFFF;
    }

    .photo6 {
        grid-row: 6;
        border: 5px solid #FFFFFF;
    }

    .photo7 {
        grid-column: 2;
        grid-row: 7;
        border: 5px solid #FFFFFF;
    }

    .photo8 {
        grid-row: 8;
        border: 5px solid #FFFFFF;
    }

    .photo9 {
        grid-column: 2;
        grid-row: 9;
        border: 5px solid #FFFFFF;
    }

    .photo10 {
        grid-row: 10;
        border: 5px solid #FFFFFF;
    }

    .photo11 {
        grid-column: 2;
        grid-row: 11;
        border: 5px solid #FFFFFF;
    }

    .photo12 {
        grid-row: 12;
        border: 5px solid #FFFFFF;
    }
}

/* -------------------------- Photos End -------------------------------- */